.container {
    position: relative;
    text-align: center;
    color: black;
}

.col-md-4 {
    background-color: #829399;
    padding: 20px;
}
.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

img {
    border: 3px solid;
    border-color: #E8FCC2;
}
img:hover {
    opacity: 0.5;
}
body {
    background-color: #545F66;
    color: #D0F4EA;
}